@font-face {
	font-family: "Emblema One";
	src: url(../font/EmblemaOne-Regular.ttf); }
	
body {
	font-family: Verdana, Geneva, Arial, sans-serif;
	font-size: medium; 
	background-image: url("../images/background00.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
	background-attachment: fixed;
}
	
div#allcontent {
	margin: 0px 8%; 
}
	
h1, h2 {
	color: #c60; }

h1 {
	font-family: "Emblema One", sans-serif;
	font-size: 3.2em;
	margin: 0px 20px 10px 20px;
	text-shadow: 0 0 5px #c60, 0 0 5px white; }

h2 {
	font-size: 1.3em;
	font-weight: normal; 
	border-top: double #c60 1px;
	padding-top: 20px; }
	
img {	
	box-shadow: 0 0 15px #c60, 0 0 5px white;
}

section#main article div.content {
	margin: 0px 30px;
}

section#main article:first-child h2 {
	border: none;
	padding-top: 0px;
}

blockquote{
	font-style: italic;
	font-family: serif; }
	
header {
	background-color: white;
	height: 80px;
	border-radius: 10px 10px 0px 0px;
	margin: 10px;
	padding: 10px;
}

header h1{
	float: left;
	margin-top: 10px;
}

header p {
	color: #c60;
	width: 240px;
	float: right;
	margin: 0px 20px;
	padding: 20px;
}

section#main {
	background-color: white;
	border-radius: 0px 0px 10px 10px;
	margin: 10px;
	padding: 10px;
}

table {
	font-size: 0.8em;
	margin: 0 10px;
	border: thin solid black;
	caption-side: bottom;
	border-collapse: collapse;
}

table.lite td, table.lite th {
	padding: 2px 5px;
}

table.lite th {
	background-color: white;
	color: black;
}

td, th {
	border: thin dotted gray;
	padding: 5px;
	text-align: center;
}

th {
	background-color: #c60;
	color: white;
}

tr.lineColor {
	background-color: #fcba7a;
}

caption {
	font-style: italic;
	padding-top: 8px;
}

li {
	/*list-style-image: url(../images/backpack.gif);*/
	list-style-type: circle;
	padding-top: 5px;
	margin-left: 20px;
}

a#pg-up {
	background-color: white;
	color: #c60;
	border-radius: 5px;
	padding: 4px;
	margin: 10px;
	text-decoration: none;
	
	position: fixed;
	top: 5px;
	left: 10px;
}

a#pg-up:hover {
	background-color: #c60;
	color: white;
}

div#image {
	width: 350px;
	float: left;
	padding-bottom: 20px;
}

div.clear {
	clear: left;
}
